.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 30vw;
  background-color: white;
  border-radius: 2rem;
  height: 18rem;
  

}
/* button {
    margin-bottom: 1rem;
    padding: 0.6rem;
    background-color: #4b81f4;
    font-weight: 400;
    font-size: 1rem;
    border-radius: 1rem;
    border: none;
    color: white;
    width:  7rem;
} */
body{
  background-color: rgb(123, 43, 190);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  width: 100vw;
}

.container{
  margin: 1rem;
  border: 2px dashed #7b2cbf;
  height: 7rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  border-radius: 2rem;
  align-items: center;
  
}
.container:hover{
  background-color:rgb(238, 238, 238);
}
input{
  /* display: none; */
}
h1{
  font-size: 1rem;
  font-weight: 700;
  color: black;
}
#btn1{
  background-color: white;
  border: none;
}
#btn2{
  background-color: rgb(46, 121, 219);
  color: white;
  width: 7rem;
  padding: 0.5rem;
  border: none;
  border-radius: 1rem;
 
}